page-signup {

  .circle {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin: 25px auto 0 auto;
  }

  .fab-custom {
    position: relative;
  }

  .danger {
    color: red;
  }

}
